.button {
  margin-left: 7px;
  width: 35px;
  height: 35px;
  color: var(--color-text);
  background-color: var(--color-grey);
  border-radius: 100%;
  transition: all 100ms ease-in-out;
}

.button:hover {
  transform: scale(1.1);
  background-color: var(--color-accent);
  color: #fff;
}

.button svg {
  font-size: 20px;
}
